[submodule "train/gritlm-re"]
	path = train/gritlm-re
	url = https://github.com/lucaswychan/gritlm-re.git
[submodule "gritlm-re"]
	path = gritlm-re
	url = https://github.com/lucaswychan/gritlm-re.git
